python/common/commonfun.egg-info
python/utils/page.html


__pycache__
.cache

cpp/effectivecpp/bin
cpp/effectivecpp/obj

.tags
.tags_sorted_by_file

*.o

*.depend
*.layout
*.mp4
tmp.html

Qt5/Demo/x64
Qt5/Demo/Demo/Debug
Qt5/Demo/Demo/GeneratedFiles
Qt5/Demo/Demo/x64
*.usr
*.sdf
*.suo


